$color-text-default: #ad8f62;
$color-text-light: #fff;
$color-primary: #143232;
$color-primary-dark: #102626;
$color-background-light: #fff;
$color-border-dark: #000;
$color-shadow-dark: #000;
$color-fighter-bg: #353833;

