@import "../../../styles/variables";

.root {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #7C0301;
  cursor: pointer;

  &.focused {
    border: 4px solid #92632A;
  }
}

@include tablet {
  .root {
    width: 4.5rem;
    height: 4.5rem;
  }
}