@import "../../../styles/variables";

.root {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  justify-content: space-between;
  padding: 0 1rem;
}

.top {
  margin-top: 1rem;

  .characters {
    display: grid;
    grid-gap: 0.5rem;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(2rem, auto));
  }

  .characterName {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
    color: $color-text-light;
  }
}

.middle {
  display: grid;
  min-height: 0;
  overflow: hidden;
}

.card {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 4fr 2fr;
  grid-gap: 1rem;

  .left {
    display: grid;
  }

  .right {
    display: grid;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
  }
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  min-height: 0;
  height: 100%;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 25rem;
    height: auto;
    box-shadow: 0px -5px 20px 0 $color-shadow-dark;
  }
}

.actions {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-height: 2rem;
}

.healthPoints {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 2px solid $color-border-dark;
  border-radius: 50%;
  font-size: 1.2rem;
  background: #7C0301;
  color: $color-text-light;
  box-shadow: 0 0 4px 0 $color-shadow-dark;
}

.bottom {
  margin: 0 -1rem;
  text-align: center;
}

.cardFullScreenContainer {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: grid;
  grid-gap: 1rem;
  padding: 1rem;

  text-align: center;

  background: $color-primary;
}

.cardFullScreenImageContainer {
  height: 50vh;
  cursor: pointer;

  img {
    height: 100%;
    box-shadow: 0 -5px 20px 0 $color-shadow-dark;
  }
}

.cardFullScreenTitle {
  font-size: 1.8rem;
}

.cardFullScreenDescription {
  font-size: 1rem;
  color: $color-text-light;
}
