@import "../../../styles/variables";

.root {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.2rem;
  padding: 2rem 1rem;
  text-align: center;
}

.paper {
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 54px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  background: #193F3F;
  box-shadow: 0px -4px 9px rgba(0, 0, 0, 0.3);

  .items {
    //height: 100%;
    position: relative;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 120px));
    justify-items: center;
    justify-content: center;
    grid-gap: 0.8rem;
    margin-top: 16px;

    // Scroll bar indent
    padding-right: 12px;
    margin-right: -12px;

    //&:after {
    //  position: sticky;
    //  bottom: 0;
    //  grid-column: 1 /span 3;
    //  width: 100%;
    //  height: 1px;
    //  box-shadow: 0 -4px 9px rgba(0, 0, 0, 0.5);
    //  content: "";
    //}
  }
}

.bottom {
  align-self: flex-end;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}